


.testimonial-section {
	background-color: #f5f5f5;
	padding:30px;
	width:60%;
	margin: 50px auto;
	border-radius: 8px;
	
}
.testimonial {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 15px ;
	margin-bottom: 15px;
	border-radius: 6px;
	
}
.text {
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}
.author {
	text-align: right;
	font-style: italic;
	color: #555;
	font-size: 14px;
}