.testimonial-section

{
	
}
	


.testimonial-section {
	background-color: #f5f5f5;
	padding:30px;
	
}
.testimonial-section h1 {
	margin-bottom:20px;
	
}
.testimonial {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 15px ;
	margin-bottom: 15px;
	
}
.testimonial p {
	margin:0;
	font-style: normal;
}
.author {
	text-align: right;
	font-style: italic;
	margin-top:10px;
}